.terminal {
  border: 1px solid $black;
  height: 60%;
  margin: 50px auto;
  padding: 20px;
  position: relative;
  width: 800px;
  
  &__outer {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &__textDisplay {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;

    &--running {
      padding-bottom: 15px;

      &:before {
        background: $lightgrey;
        bottom: 0;
        content: '';
        height: 15px;
        left: 0;
        position: absolute;
        width: 7px;
      }
    }

    
  }

  &__typing {
    position: relative;

    &:after {
      background: $lightgrey;
      content: '';
      height: 15px;
      position: absolute;
      right: 0;
      top: 0;
      width: 7px;
    }
  }

}
