::-moz-selection{
  background-color:Transparent;
  color:#000;
}

::selection {
  background-color:Transparent;
  color:#000;
}

body {
  background: url('../../imgs/homepage/1911285.jpg') center center / cover;
}